<div class="card charts-card mb-4">
    <div class="card-header border-0 p-3">
        <div class="d-flex">
            <h5 class="card-title m-0">Sales</h5>
            <a class="text-decoration-none ms-auto" href="">View Report</a>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <p class="d-flex flex-column m-0">
                <span class="fw-bold fs-5">$18,230.00</span>
                <span>Sales Over Time</span>
            </p>
            <p class="d-flex flex-column ms-auto mb-0">
                <span class="text-center"><i class="bi bi-arrow-up"></i>820</span>
                <span class="text-muted">Since last month</span>
            </p>
        </div>
        <div #barChart class="barChart mb-4"></div>
        <div class="d-flex flex-row justify-content-end gap-2">
            <span><i class="bi bi-app"></i>This Week</span>
            <span><i class="bi bi-app"></i>Last Week</span>
        </div>
    </div>
</div>