<div class="card mapChart bg-primary mb-4">
    <div class="card-header d-flex">
        <p class="card-title text-light"><i class="bi bi-geo-alt-fill "></i>&nbsp; Visitors</p>
        <div class="card-tool ms-auto gap-2">
            <button class="btn btn-primary btn-sm daterange"><i class="bi bi-calendar"></i></button>
            <button class="btn btn-primary btn-sm"><i class="bi bi-dash-lg"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div #worldMap id="world-map" style="height: 300px; width: 100%;"></div>
    </div>

</div>
