.icons{
    transition: background-color 0.3s;
    cursor: pointer;
    .image{
        width: 30px;
    }
    img{
        width: 28px;
        height: 28px;
    }
    .name{
        font-size: 12px;
    }
}

.navbar{
    .icons.active{
        background-color: #e0f0ff;
        border-radius: 10px;
        padding: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .content-wrapper{
        flex: 1;
        white-space: nowrap;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .button{
        width: 4%;
        border-left: 2px solid #ccc;
        cursor: pointer;
    }
}
.moreOption{
    background:transparent;
    .content-wrapper{
        flex-direction: column;
    }
    button{
        background: #13274E;
    }
    .actions-btn{
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
}
