<div class="card card-lineChart bg-info mb-4">
    <div class="card-header d-flex">
        <p class="card-title text-light"><i class="bi bi-grid-3x3-gap-fill"></i>&nbsp; Sales Graph</p>
        <div class="card-tool ms-auto gap-2">
            <button class="btn btn-sm bg-info"><i class="bi bi-dash"></i></button>
            <button class="btn-sm btn bg-info"><i class="bi bi-x"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div #lineChart  class="lineChart"></div>
    </div>
</div>
